---
layout: page
title: Portfolio
permalink: /portfolio/
---

<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    <li class="filter" data-filter=".Street">Street</li>
                    <li class="filter" data-filter=".Animals">Animals</li>
                </ul>
              </div class = "gallery">
              <div id="aniimated-thumbnails">
                  <a href="img/sanfran.jpg">
                    <img src = "img/sanfran.jpg" />
                  </a>
                  <a href="img/seattle.jpg">
                    <img src = "img/seattle.jpg" />
                  </a>
                <a href="img/Portland.jpg">
                    <img src = "img/Portland.jpg" />
                  </a>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  <!-- Street portfolio -->
                    <li class="mix Street">
                      <a href="#">
                        <img src="{{ site.baseurl }}/img/portfolio/thumbnails/seattle.jpg" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>Seattle</h2>
                          </div>
                        </div>
                      </a>
                  </li>
                  <li class="mix Street">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/thumbnails/sanfran.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>San Francisco</h2>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Street">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/thumbnails/portland.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Portland</h2>
                        </div>
                      </div>
                    </a>
                  </li>

                  <!-- Animal Portfolio -->
                  <li class="mix Animals">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/thumbnails/zoo.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Zoo</h2>
                        </div>
                      </div>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script type="text/javascript">
    $('#aniimated-thumbnials').lightGallery({
      thumbnail:true
    });
    </script>
</section>
